#dugmence
{
    min-width: 300px;
    font-weight: 550;
    background-color: #eee;
    border-color: #e1e1e1;
    color: black;
}

#dugmence:hover
{
    background-color: #e1e1e1;
}

#pretraga
{
    border: 1px solid rgb(218, 215, 215);
    background-color: rgb(236, 236, 236);
    padding: 20px;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: -5px;
}